table {
    width: 100%;
    border-collapse: collapse;
}

ul li {
    list-style: none;
}

.alinear {
    text-align: center;
    margin-top: 20px;
}
mat-form-field {
    width: 140%;
}

.rigth{
    margin-left: auto;
}

.mat-cell>:nth-child,
.mat-header-cell>:nth-child(1) {
    flex: 0 0 6%;
}


.rigth{
    margin-left: auto;
}

.mat-icon.mat-primary {
    --mat-icon-color: #007adc;
    height: 20px !important;
    width: 20px !important;
    overflow: auto !important;
    font-size: 20px;
}
.mat-icon.mat-accent {
    --mat-icon-color: #e66933;
    height: 20px !important;
    width: 20px !important;
    overflow: auto !important;
    font-size: 20px;
}
.mat-icon.mat-warn {
    --mat-icon-color: #f82112;
    height: 20px !important;
    width: 20px !important;
    overflow: auto !important;
    font-size: 20px;
    animation: zoom-in-zoom-out 2s infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 0.3;
    }
    50% {
        transform: scale(1.7, 1.7);
        opacity: 0.4;
    }
    100% {
        transform: scale(0.6, 0.6);
        opacity: 0.9;
    }
}

.mat-icon.mat-success {
    --mat-icon-color: #198754;
    height: 20px !important;
    width: 20px !important;
    overflow: auto !important;
    font-size: 20px;
    transform-style: preserve-3d;
    animation: flipY var(--dur, 2.2s) linear infinite;
}
@keyframes flipY {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.mat-icon.mat-warning {
    --mat-icon-color: #ffc107;
    height: 20px !important;
    width: 20px !important;
    overflow: auto !important;
    font-size: 20px;
}
.mat-icon.mat-secondary {
    --mat-icon-color: #6c757d;
    height: 20px !important;
    width: 20px !important;
    overflow: auto !important;
    font-size: 20px;
}